@use '../../assets/scss/abstracts/variables' as var;
@use '../../assets/scss/abstracts/functions' as func;

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: func.em(320, var.$font-size-primary);
	background-color: var.$color-white;
	margin: func.em(40, var.$font-size-primary) 0
		func.em(60, var.$font-size-primary);
	border-radius: 8px;
	box-shadow: 0 16px 30px rgba(0, 0, 0, 0.04);
}

.card-image,
.card-content {
	display: flex;
	flex-direction: column;
}

.card-image {
	border-radius: 8px 8px 0 0;
}

.card-image * {
	border-radius: inherit;
}

.card-image-inner {
	position: relative;
	height: 0;
	padding-bottom: 62%;
	background-color: var.$color-desaturated-dark-blue;
}

.card-image-inner img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-content {
	position: relative;
	padding: func.em(32, var.$font-size-primary)
		func.em(32, var.$font-size-primary) func.em(20, var.$font-size-primary);
}

.card-title {
	margin-bottom: func.em(15, 16);
}

.card-desc {
	margin-bottom: func.em(24, 13);
}

.card-author {
	display: flex;
	align-items: center;
	padding-right: func.em(45, var.$font-size-primary);
}

.card-author-img-box {
	flex: none;
	margin-right: func.em(15, var.$font-size-primary);
}

.card-author-img {
	width: func.em(40, var.$font-size-primary);
	height: auto;
	border-radius: 50%;
}

.card-author-name {
	margin-bottom: func.em(1, 13);
	font-size: func.em(13, var.$font-size-primary);
}

.card-author-post-date {
	color: var.$color-grayish-blue;
}

.card-share {
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.card-share-checkbox {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.card-share-box {
	position: relative;
	display: flex;
	justify-content: flex-end;
	padding: func.em(24, var.$font-size-primary)
		func.em(32, var.$font-size-primary);
	background-color: transparent;
	transition: all 0.24s;
}

.card-share-action,
.card-share-action-buttons {
	display: flex;
	align-items: center;
}

.card-share-action {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	gap: func.em(20, var.$font-size-primary);
	padding: inherit;
	padding-right: func.em(90, var.$font-size-primary);
	visibility: hidden;
}

.card-share-action-txt {
	text-transform: uppercase;
	color: var.$color-grayish-blue;
	letter-spacing: func.em(3, var.$font-size-primary);
}

.card-share-action-buttons {
	gap: func.em(15, var.$font-size-primary);
}

.btn--share-toggle {
	position: relative;
	z-index: 1;
}

.card-share-checkbox:checked + .card-share-box {
	background-color: var.$color-dark-grayish-blue;
}

.card-share-checkbox:checked + .card-share-box .card-share-action {
	visibility: visible;
}

.card-share-checkbox:checked + .card-share-box .btn--share-toggle {
	background-color: var.$color-desaturated-dark-blue;
	border-color: var.$color-desaturated-dark-blue;
	color: var.$color-white;
}

@media (min-width: 60em) {
	.card {
		flex-direction: row;
		max-width: func.em(720, var.$font-size-primary);
	}

	.card-image {
		flex-shrink: 0;
		flex-basis: func.em(280, var.$font-size-primary);
		max-width: func.em(280, var.$font-size-primary);
		border-radius: 8px 0 0 8px;
	}

	.card-image-inner,
	.card-image-inner img {
		position: static;
	}

	.card-image-inner {
		flex: auto;
		height: auto;
		padding-bottom: 0;
	}

	.card-title {
		font-size: func.em(20, var.$font-size-primary);
	}

	.card-share-action {
		top: auto;
		left: auto;
		bottom: func.em(80, var.$font-size-primary);
		right: func.em(-68, var.$font-size-primary);
		padding: func.em(16, var.$font-size-primary)
			func.em(32, var.$font-size-primary);
		background-color: var.$color-dark-grayish-blue;
		border-radius: 10px;
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
	}

	.card-share-action::before {
		content: '';
		position: absolute;
		left: 50%;
		bottom: func.em(-7.5, var.$font-size-primary);
		width: func.em(15, var.$font-size-primary);
		height: func.em(15, var.$font-size-primary);
		background-color: inherit;
		transform: translateX(-50%) rotate(45deg);
	}

	.card-share-checkbox:checked + .card-share-box {
		background-color: transparent;
	}
}
